lawn-agent/workflows/lawn-agent.n8n.json
{
  "name": "Lawn Agent — Phoenix AZ & Dallas TX",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "days", "daysInterval": 1, "triggerAtHour": 6 }] }
      },
      "id": "trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://overpass-api.de/api/interpreter",
        "method": "POST",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "[out:json][timeout:60];(area[\"name\"=\"Arizona\"][\"admin_level\"=\"4\"]->.az;area[\"name\"=\"Texas\"][\"admin_level\"=\"4\"]->.tx;area[\"name\"=\"Phoenix\"][\"admin_level\"=\"8\"](area.az)->.phoenix;area[\"name\"=\"Dallas\"][\"admin_level\"=\"8\"](area.tx)->.dallas;way[\"building\"=\"house\"](area.phoenix);way[\"building\"=\"residential\"](area.phoenix);way[\"building\"=\"house\"](area.dallas);way[\"building\"=\"residential\"](area.dallas););out center 100;"
            }
          ]
        }
      },
      "id": "fetch_addresses",
      "name": "1. Fetch Houses (Overpass — Phoenix & Dallas)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Overpass returns { elements: [ { center: {lat, lon}, tags: { 'addr:housenumber', 'addr:street', ... } } ] }\n// Already includes coordinates — no geocoding step needed.\nconst elements = $json.elements || [];\nreturn elements\n  .filter(el => el.center && el.tags?.['addr:housenumber'] && el.tags?.['addr:street'])\n  .map(el => {\n    const t = el.tags;\n    const city = t['addr:city'] || t['addr:suburb'] || '';\n    const state = t['addr:state'] || '';\n    const postcode = t['addr:postcode'] || '';\n    const address = `${t['addr:housenumber']} ${t['addr:street']}, ${city}, ${state} ${postcode}`.trim();\n    return { json: { address, suburb: city, city, state, postcode, lat: el.center.lat, lng: el.center.lon, propertyType: 'house', source: 'openstreetmap' } };\n  })\n  .filter(i => i.json.address && i.json.lat && i.json.lng);"
      },
      "id": "flatten_addresses",
      "name": "1b. Flatten & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 0]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": "RawScan",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "runDate": "={{ $now.toISODate() }}",
            "address": "={{ $json.address }}",
            "city": "={{ $json.city }}",
            "state": "={{ $json.state }}",
            "postcode": "={{ $json.postcode }}",
            "lat": "={{ $json.lat }}",
            "lng": "={{ $json.lng }}"
          }
        }
      },
      "id": "log_raw",
      "name": "1c. Log Raw Scan Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [380, 280]
    },
    {
      "parameters": {
        "url": "=https://api.mapbox.com/styles/v1/mapbox/satellite-v9/static/{{$json.lng}},{{$json.lat}},19,0,0/600x400@2x",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "fetch_satellite",
      "name": "3. Fetch Satellite Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 0],
      "credentials": {
        "httpQueryAuth": { "id": "", "name": "Mapbox Query Auth" }
      }
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ model: 'google/gemini-2.5-flash', response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'You are a property analyst. Look at this satellite image of a US residential property. Classify: lawnCondition (dead/patchy/healthy/no-visible-lawn), lawnConfidence (0-1 float), houseQualityTier (A/B/C where A=large well-maintained home), standaloneHouse (boolean). Return JSON only.' }, { role: 'user', content: [ { type: 'text', text: 'Classify this property.' }, { type: 'image_url', image_url: { url: 'data:image/jpeg;base64,' + $binary.data.data } } ] } ] }) }}"
      },
      "id": "classify_lawn",
      "name": "4. AI Lawn Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "OpenRouter Header Auth" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Score: dead=3, patchy=1.5, healthy=0, no-visible-lawn=-10; tier A=3,B=2,C=1\n// Only pass standaloneHouse=true properties — filters out apartments, units etc.\nconst scored = items\n  .map(i => {\n    const c = JSON.parse(i.json.choices[0].message.content);\n    if (!c.standaloneHouse) return null;\n    const condScore = { dead: 3, patchy: 1.5, healthy: 0, 'no-visible-lawn': -10 }[c.lawnCondition] ?? 0;\n    const tierScore = { A: 3, B: 2, C: 1 }[c.houseQualityTier] ?? 0;\n    return { json: { ...i.json, ...c, score: condScore * (c.lawnConfidence ?? 1) + tierScore } };\n  })\n  .filter(Boolean);\nscored.sort((a, b) => b.json.score - a.json.score);\nif (!scored.length) throw new Error('No scoreable leads this run.');\nreturn [scored[0]];"
      },
      "id": "rank_select",
      "name": "5. Rank & Select Top Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ contents: [ { parts: [ { text: 'Replace the dead or patchy brown lawn with a lush, thick, evenly green healthy lawn. Keep the house, driveway, trees, fencing and all other elements identical. Photoreal satellite top-down view, same lighting and perspective.' }, { inline_data: { mime_type: 'image/jpeg', data: $binary.data.data } } ] } ] }) }}"
      },
      "id": "render_lawn",
      "name": "6. AI Lawn Render (Gemini 2.5 Flash Image)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "Google AI Studio Header Auth" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gemini returns the rendered image as base64 inside candidates[0].content.parts[].inline_data.data\nconst part = $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data);\nif (!part) throw new Error('Gemini render returned no image data.');\nreturn [{\n  json: { ...$('5. Rank & Select Top Lead').item.json },\n  binary: {\n    data: {\n      data: part.inline_data.data,\n      mimeType: part.inline_data.mime_type || 'image/png',\n      fileName: 'rendered-lawn.png'\n    }\n  }\n}];"
      },
      "id": "extract_render",
      "name": "6b. Extract Rendered Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 0]
    },
    {
      "parameters": {
        "jsCode": "// Stub: wire to a US property/owner lookup API (e.g. ATTOM, BatchData, or county assessor records).\n// For demo purposes, defaults to 'Homeowner' so the pipeline completes end-to-end.\nreturn items.map(i => ({ json: { ...i.json, ownerName: i.json.ownerName || 'Homeowner' } }));"
      },
      "id": "owner_lookup",
      "name": "7. Owner Lookup (US — stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "url": "https://api.postgrid.com/print-mail/v1/postcards",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "PASTE_POSTGRID_KEY_HERE_WHEN_READY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ to: { firstName: $json.ownerName, addressLine1: $json.address, city: $json.city, provinceOrState: $json.state, postalOrZip: String($json.postcode), countryCode: 'US' }, size: '6x9', frontHTML: '<img src=\"' + $json.publicRenderUrl + '\" style=\"width:100%;height:100%;object-fit:cover;\"/>', backHTML: '<p>We noticed your lawn needs attention — here is what it could look like. Scan for a free quote.</p>' }) }}"
      },
      "id": "send_postcard",
      "name": "8. Send Postcard (PostGrid) — NOT CONFIGURED YET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "runDate": "={{ $now.toISODate() }}",
            "address": "={{ $json.address }}",
            "city": "={{ $json.city }}",
            "state": "={{ $json.state }}",
            "postcode": "={{ $json.postcode }}",
            "lawnCondition": "={{ $json.lawnCondition }}",
            "houseQualityTier": "={{ $json.houseQualityTier }}",
            "score": "={{ $json.score }}"
          }
        }
      },
      "id": "log_sheet",
      "name": "9. Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1980, 0]
    }
  ],
  "connections": {
    "Daily Trigger": { "main": [[{ "node": "1. Fetch Houses (Overpass — Phoenix & Dallas)", "type": "main", "index": 0 }]] },
    "1. Fetch Houses (Overpass — Phoenix & Dallas)": { "main": [[{ "node": "1b. Flatten & Filter", "type": "main", "index": 0 }]] },
    "1b. Flatten & Filter": { "main": [[{ "node": "3. Fetch Satellite Image", "type": "main", "index": 0 }, { "node": "1c. Log Raw Scan Results", "type": "main", "index": 0 }]] },
    "3. Fetch Satellite Image": { "main": [[{ "node": "4. AI Lawn Classifier", "type": "main", "index": 0 }]] },
    "4. AI Lawn Classifier": { "main": [[{ "node": "5. Rank & Select Top Lead", "type": "main", "index": 0 }]] },
    "5. Rank & Select Top Lead": { "main": [[{ "node": "6. AI Lawn Render (Gemini 2.5 Flash Image)", "type": "main", "index": 0 }]] },
    "6. AI Lawn Render (Gemini 2.5 Flash Image)": { "main": [[{ "node": "6b. Extract Rendered Image", "type": "main", "index": 0 }]] },
    "6b. Extract Rendered Image": { "main": [[{ "node": "7. Owner Lookup (US — stub)", "type": "main", "index": 0 }]] },
    "7. Owner Lookup (US — stub)": { "main": [[{ "node": "8. Send Postcard (PostGrid) — NOT CONFIGURED YET", "type": "main", "index": 0 }]] },
    "8. Send Postcard (PostGrid) — NOT CONFIGURED YET": { "main": [[{ "node": "9. Log to Sheet", "type": "main", "index": 0 }]] }
  },
  "meta": { "instanceId": "lawn-agent" }
}
