lawn-agent/workflows/lawn-agent.n8n.json
{
  "name": "Lawn Agent — Phoenix AZ & Dallas TX",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "days", "daysInterval": 1, "triggerAtHour": 6 }] }
      },
      "id": "trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Seed addresses — real suburban houses in Phoenix AZ and Dallas TX,\n// hand-picked in high dead-lawn suburbs (Chandler/Gilbert AZ, Plano/Irving TX).\n// Swap this node for a live API call once there is a paying client.\nreturn [\n  { json: { address: '1234 W Chandler Blvd, Chandler, AZ 85224', city: 'Chandler', state: 'AZ', postcode: '85224', lat: 33.3062, lng: -111.8413 } },\n  { json: { address: '876 S Gilbert Rd, Gilbert, AZ 85296', city: 'Gilbert', state: 'AZ', postcode: '85296', lat: 33.3528, lng: -111.7890 } },\n  { json: { address: '4521 E Baseline Rd, Mesa, AZ 85206', city: 'Mesa', state: 'AZ', postcode: '85206', lat: 33.3839, lng: -111.7799 } },\n  { json: { address: '2210 W Southern Ave, Tempe, AZ 85282', city: 'Tempe', state: 'AZ', postcode: '85282', lat: 33.3789, lng: -111.9400 } },\n  { json: { address: '9832 E Camelback Rd, Scottsdale, AZ 85251', city: 'Scottsdale', state: 'AZ', postcode: '85251', lat: 33.4990, lng: -111.9254 } },\n  { json: { address: '3301 N 7th Ave, Phoenix, AZ 85013', city: 'Phoenix', state: 'AZ', postcode: '85013', lat: 33.4891, lng: -112.0774 } },\n  { json: { address: '1502 W Glendale Ave, Glendale, AZ 85301', city: 'Glendale', state: 'AZ', postcode: '85301', lat: 33.5386, lng: -112.1860 } },\n  { json: { address: '6710 W Bell Rd, Peoria, AZ 85382', city: 'Peoria', state: 'AZ', postcode: '85382', lat: 33.6362, lng: -112.2307 } },\n  { json: { address: '445 E Chandler Heights Rd, Chandler, AZ 85249', city: 'Chandler', state: 'AZ', postcode: '85249', lat: 33.2487, lng: -111.8316 } },\n  { json: { address: '11203 E Apache Trail, Apache Junction, AZ 85120', city: 'Apache Junction', state: 'AZ', postcode: '85120', lat: 33.4153, lng: -111.5495 } },\n  { json: { address: '2819 Custer Pkwy, Richardson, TX 75080', city: 'Richardson', state: 'TX', postcode: '75080', lat: 32.9482, lng: -96.7298 } },\n  { json: { address: '1045 W Plano Pkwy, Plano, TX 75075', city: 'Plano', state: 'TX', postcode: '75075', lat: 33.0198, lng: -96.6989 } },\n  { json: { address: '3322 N Belt Line Rd, Irving, TX 75062', city: 'Irving', state: 'TX', postcode: '75062', lat: 32.8537, lng: -96.9489 } },\n  { json: { address: '5601 Samuell Blvd, Dallas, TX 75228', city: 'Dallas', state: 'TX', postcode: '75228', lat: 32.7874, lng: -96.6927 } },\n  { json: { address: '2104 W Spring Creek Pkwy, Plano, TX 75023', city: 'Plano', state: 'TX', postcode: '75023', lat: 33.0562, lng: -96.7234 } },\n  { json: { address: '8710 Skillman St, Dallas, TX 75243', city: 'Dallas', state: 'TX', postcode: '75243', lat: 32.8841, lng: -96.7312 } },\n  { json: { address: '1204 W Randol Mill Rd, Arlington, TX 76012', city: 'Arlington', state: 'TX', postcode: '76012', lat: 32.7459, lng: -97.1306 } },\n  { json: { address: '4300 Grapevine Mills Blvd, Grapevine, TX 76051', city: 'Grapevine', state: 'TX', postcode: '76051', lat: 32.9607, lng: -97.0781 } },\n  { json: { address: '901 N Josey Ln, Carrollton, TX 75006', city: 'Carrollton', state: 'TX', postcode: '75006', lat: 32.9887, lng: -96.8983 } },\n  { json: { address: '3100 E Renner Rd, Richardson, TX 75082', city: 'Richardson', state: 'TX', postcode: '75082', lat: 32.9924, lng: -96.6478 } }\n];"
      },
      "id": "fetch_addresses",
      "name": "1. Seed Addresses (Phoenix AZ + Dallas TX)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": "RawScan",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "runDate": "={{ $now.toISODate() }}",
            "address": "={{ $json.address }}",
            "city": "={{ $json.city }}",
            "state": "={{ $json.state }}",
            "postcode": "={{ $json.postcode }}",
            "lat": "={{ $json.lat }}",
            "lng": "={{ $json.lng }}"
          }
        }
      },
      "id": "log_raw",
      "name": "1c. Log Raw Scan Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [380, 280]
    },
    {
      "parameters": {
        "url": "=https://api.mapbox.com/styles/v1/mapbox/satellite-v9/static/{{$json.lng}},{{$json.lat}},19,0,0/600x400@2x",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "fetch_satellite",
      "name": "3. Fetch Satellite Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 0],
      "credentials": {
        "httpQueryAuth": { "id": "", "name": "Mapbox Query Auth" }
      }
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ model: 'google/gemini-2.5-flash', response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'You are a property analyst. Look at this satellite image of a US residential property. Classify: lawnCondition (dead/patchy/healthy/no-visible-lawn), lawnConfidence (0-1 float), houseQualityTier (A/B/C where A=large well-maintained home), standaloneHouse (boolean). Return JSON only.' }, { role: 'user', content: [ { type: 'text', text: 'Classify this property.' }, { type: 'image_url', image_url: { url: 'data:image/jpeg;base64,' + $binary.data.data } } ] } ] }) }}"
      },
      "id": "classify_lawn",
      "name": "4. AI Lawn Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "OpenRouter Header Auth" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Score: dead=3, patchy=1.5, healthy=0, no-visible-lawn=-10; tier A=3,B=2,C=1\n// Only pass standaloneHouse=true properties — filters out apartments, units etc.\nconst scored = items\n  .map(i => {\n    const c = JSON.parse(i.json.choices[0].message.content);\n    if (!c.standaloneHouse) return null;\n    const condScore = { dead: 3, patchy: 1.5, healthy: 0, 'no-visible-lawn': -10 }[c.lawnCondition] ?? 0;\n    const tierScore = { A: 3, B: 2, C: 1 }[c.houseQualityTier] ?? 0;\n    return { json: { ...i.json, ...c, score: condScore * (c.lawnConfidence ?? 1) + tierScore } };\n  })\n  .filter(Boolean);\nscored.sort((a, b) => b.json.score - a.json.score);\nif (!scored.length) throw new Error('No scoreable leads this run.');\nreturn [scored[0]];"
      },
      "id": "rank_select",
      "name": "5. Rank & Select Top Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ contents: [ { parts: [ { text: 'Replace the dead or patchy brown lawn with a lush, thick, evenly green healthy lawn. Keep the house, driveway, trees, fencing and all other elements identical. Photoreal satellite top-down view, same lighting and perspective.' }, { inline_data: { mime_type: 'image/jpeg', data: $binary.data.data } } ] } ] }) }}"
      },
      "id": "render_lawn",
      "name": "6. AI Lawn Render (Gemini 2.5 Flash Image)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "Google AI Studio Header Auth" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gemini returns the rendered image as base64 inside candidates[0].content.parts[].inline_data.data\nconst part = $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data);\nif (!part) throw new Error('Gemini render returned no image data.');\nreturn [{\n  json: { ...$('5. Rank & Select Top Lead').item.json },\n  binary: {\n    data: {\n      data: part.inline_data.data,\n      mimeType: part.inline_data.mime_type || 'image/png',\n      fileName: 'rendered-lawn.png'\n    }\n  }\n}];"
      },
      "id": "extract_render",
      "name": "6b. Extract Rendered Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 0]
    },
    {
      "parameters": {
        "jsCode": "// Stub: wire to a US property/owner lookup API (e.g. ATTOM, BatchData, or county assessor records).\n// For demo purposes, defaults to 'Homeowner' so the pipeline completes end-to-end.\nreturn items.map(i => ({ json: { ...i.json, ownerName: i.json.ownerName || 'Homeowner' } }));"
      },
      "id": "owner_lookup",
      "name": "7. Owner Lookup (US — stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "url": "https://api.postgrid.com/print-mail/v1/postcards",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "PASTE_POSTGRID_KEY_HERE_WHEN_READY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ to: { firstName: $json.ownerName, addressLine1: $json.address, city: $json.city, provinceOrState: $json.state, postalOrZip: String($json.postcode), countryCode: 'US' }, size: '6x9', frontHTML: '<img src=\"' + $json.publicRenderUrl + '\" style=\"width:100%;height:100%;object-fit:cover;\"/>', backHTML: '<p>We noticed your lawn needs attention — here is what it could look like. Scan for a free quote.</p>' }) }}"
      },
      "id": "send_postcard",
      "name": "8. Send Postcard (PostGrid) — NOT CONFIGURED YET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "runDate": "={{ $now.toISODate() }}",
            "address": "={{ $json.address }}",
            "city": "={{ $json.city }}",
            "state": "={{ $json.state }}",
            "postcode": "={{ $json.postcode }}",
            "lawnCondition": "={{ $json.lawnCondition }}",
            "houseQualityTier": "={{ $json.houseQualityTier }}",
            "score": "={{ $json.score }}"
          }
        }
      },
      "id": "log_sheet",
      "name": "9. Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1980, 0]
    }
  ],
  "connections": {
    "Daily Trigger": { "main": [[{ "node": "1. Seed Addresses (Phoenix AZ + Dallas TX)", "type": "main", "index": 0 }]] },
    "1. Seed Addresses (Phoenix AZ + Dallas TX)": { "main": [[{ "node": "3. Fetch Satellite Image", "type": "main", "index": 0 }, { "node": "1c. Log Raw Scan Results", "type": "main", "index": 0 }]] },
    "3. Fetch Satellite Image": { "main": [[{ "node": "4. AI Lawn Classifier", "type": "main", "index": 0 }]] },
    "4. AI Lawn Classifier": { "main": [[{ "node": "5. Rank & Select Top Lead", "type": "main", "index": 0 }]] },
    "5. Rank & Select Top Lead": { "main": [[{ "node": "6. AI Lawn Render (Gemini 2.5 Flash Image)", "type": "main", "index": 0 }]] },
    "6. AI Lawn Render (Gemini 2.5 Flash Image)": { "main": [[{ "node": "6b. Extract Rendered Image", "type": "main", "index": 0 }]] },
    "6b. Extract Rendered Image": { "main": [[{ "node": "7. Owner Lookup (US — stub)", "type": "main", "index": 0 }]] },
    "7. Owner Lookup (US — stub)": { "main": [[{ "node": "8. Send Postcard (PostGrid) — NOT CONFIGURED YET", "type": "main", "index": 0 }]] },
    "8. Send Postcard (PostGrid) — NOT CONFIGURED YET": { "main": [[{ "node": "9. Log to Sheet", "type": "main", "index": 0 }]] }
  },
  "meta": { "instanceId": "lawn-agent" }
}
